opencv-python==4.10.0.84
mediapipe==0.10.30
numpy>=1.24.3
ultralytics>=8.0.0
PyQt5>=5.15.0
insightface>=0.7.3
onnxruntime>=1.17.0
sounddevice>=0.4.6
webrtcvad>=2.0.10
speechbrain>=0.5.16
tensorflow>=2.16.0
tensorflow-hub>=0.16.0
soundfile>=0.12.0
